// --- Fonts
// -----------------------------

/*
@include font-face("", font-files(
					".eot",
					".woff2",
					".woff",
					".ttf"));
*/

$line-height: 1.42857143;


// --- Colors
// -----------------------------



// --- Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin